form.form {
	@extend .clearfix;
	
	label {
		display: block;
		margin-bottom: 1.5em;
		width: 100%;
	}
	
	input {
		font-size: 12px;
		
		box-sizing: border-box;
		display: block;
		margin-top: 0.5em;
		padding: 8px;
		width: 100%;
	}
	
	button {
		float: right;
		padding: 8px 16px;
	}
}