/**
 * Sizes
 */
$width: 960px;
$sidebar-width: $width * 0.2;
$footer-height: 40px;

/**
 * Colors
 */
$background: #eee;

$primary-color: #fff;
$secondary-color: #222;

$subtle-text-color: #bbb;
$subtle-active-color: #aaa;

$link-color: #28a;
$dark-link-color: darken($link-color, 10%);
$border-color: #ddd;

$header-color: darken($background, 65%);
$light-color: #f4f4f4;

/**
 * Misc
 */
$header-shadow: 1px 1px #fff;