/**
 * Sizes
 */
$width: 960px;
$sidebar-width: $width * 0.2;
$footer-height: 40px;

/**
 * Colors
 */
$background: #f4f4f4;
$primary-color: #fff;
$secondary-color: #222;
$subtle-text-color: #bbb;
$subtle-active-color: #abb;
$link-color: #28a;
$border-color: #e4e4e4;

/**
 * Misc
 */
$header-shadow: 1px 1px #fff;