/**
 * Sizes
 */
/**
 * Colors
 */
/**
 * Misc
 */
html,
body {
  background-color: #eee;
  color: #222;
  font-family: sans-serif;
  margin: 0px;
  padding: 0px; }
  html a,
  body a {
    color: #28a;
    text-decoration: none; }

.clearfix:after, body > article:after, body > header:after, body > article > section ul.pages:after {
  content: "";
  font-size: 0px;
  visibility: hidden;
  clear: both;
  display: block;
  height: 0px;
  width: 100%; }
.clearfix .left, body > article .left, body > header .left, body > article > section ul.pages .left {
  float: left; }
.clearfix .right, body > article .right, body > header .right, body > article > section ul.pages .right {
  float: right; }

.fluid, body > article,
body > footer {
  margin: 0px auto;
  width: 960px; }

body > article {
  padding-top: 15px; }
  body > article > aside {
    float: right;
    width: 192px; }
  body > article > section {
    box-sizing: border-box;
    float: left;
    padding-right: 20px;
    width: 768px; }
    body > article > section > h1:first-child {
      color: #aaa;
      font-size: 14px;
      font-weight: normal;
      text-shadow: 1px 1px #fff;
      margin: 0px; }
body > footer {
  color: #bbb;
  font-size: 12px;
  text-align: center; }

body > header {
  background-color: #484848; }
  body > header h1 {
    font-weight: normal;
    line-height: 100%;
    margin: 0px;
    padding: 4px 20px; }
    body > header h1 a {
      font-size: 18px; }
  body > header ul {
    list-style: none;
    margin: 0px;
    padding: 0px; }
    body > header ul li {
      float: left; }
      body > header ul li a {
        color: #fff;
        display: inline-block;
        padding: 15px 20px; }
        body > header ul li a:hover {
          background-color: rgba(255, 255, 255, 0.05); }
  body > header a {
    color: #fff;
    font-size: 14px; }
    body > header a:hover {
      color: #f4f4f4; }

body > article > aside > h2 {
  color: #aaa;
  font-size: 14px;
  font-weight: normal;
  text-shadow: 1px 1px #fff;
  margin: 0px;
  margin-bottom: 16px; }
body > article > aside > ul {
  border-bottom: 1px solid #ddd;
  list-style: none;
  margin: 0px;
  margin-bottom: 30px;
  padding: 0px; }
  body > article > aside > ul ul {
    list-style: none;
    margin: 0px;
    padding: 0px; }
    body > article > aside > ul ul > li {
      padding-left: 5%; }
  body > article > aside > ul li {
    border-top: 1px solid #ddd;
    color: #555;
    font-size: 12px;
    line-height: 120%; }
    body > article > aside > ul li a {
      display: block;
      padding: 8px 8px; }
      body > article > aside > ul li a:hover {
        color: #55bbdd;
        text-decoration: underline; }
    body > article > aside > ul li span {
      display: block;
      padding: 8px 8px; }

body > article > section p {
  font-size: 14px;
  line-height: 140%;
  margin: 0px;
  margin-bottom: 15px; }
body > article > section a:hover {
  text-decoration: underline; }

body > article > section p.no-pages {
  margin-top: 1em; }
body > article > section .description {
  border-left: 2px solid #ddd;
  color: #555555;
  margin-top: 12px;
  padding: 4px 8px; }
body > article > section div.container {
  background-color: #fcfcfc;
  border-bottom: 4px solid #ddd;
  box-sizing: border-box;
  margin-top: 1em;
  padding: 30px; }
  body > article > section div.container p:last-child {
    margin-bottom: 0px; }
  body > article > section div.container h1 {
    font-size: 1.6em; }
  body > article > section div.container h1, body > article > section div.container h2, body > article > section div.container h3, body > article > section div.container h4, body > article > section div.container h5, body > article > section div.container h6 {
    margin: 0px;
    margin-bottom: 1em; }
  body > article > section div.container ul, body > article > section div.container ol {
    margin-bottom: 1em;
    padding: 0px;
    padding-left: 1.5em; }
    body > article > section div.container ul li, body > article > section div.container ol li {
      font-size: 14px;
      margin-bottom: 10px; }
  body > article > section div.container ol {
    padding-left: 1.70em; }
  body > article > section div.container p {
    margin: 0px;
    margin-bottom: 1em; }
  body > article > section div.container code {
    background-color: #c3d8e0;
    border-radius: 2px;
    color: #3b7689;
    font-size: 0.9em;
    vertical-align: middle;
    padding: 3px 4px; }
  body > article > section div.container blockquote {
    color: #888;
    border-left: 3px solid #ddd;
    margin: 0px;
    margin-bottom: 1em;
    padding: 4px 0px;
    padding-left: 10px; }
    body > article > section div.container blockquote p:last-child {
      margin-bottom: 0px; }
  body > article > section div.container footer {
    color: #bbb;
    font-size: 12px; }
body > article > section ul.pages {
  list-style: none;
  padding: 0px; }
  body > article > section ul.pages li {
    background-color: #fcfcfc;
    border-bottom: 4px solid #ddd;
    box-sizing: border-box;
    float: left;
    margin-right: 6%;
    margin-bottom: 3%;
    padding: 30px;
    width: 47%; }
    body > article > section ul.pages li:nth-child(2n) {
      margin-right: 0px; }
    body > article > section ul.pages li:nth-child(2n + 1) {
      clear: left; }
    body > article > section ul.pages li:nth-last-child(-n + 2) {
      margin-bottom: 0px; }
    body > article > section ul.pages li h2 {
      font-size: 20px;
      font-weight: normal;
      margin: 0px;
      margin-bottom: 15px; }
    body > article > section ul.pages li p.info {
      color: #bbb;
      font-size: 12px;
      margin-bottom: 0px; }
      body > article > section ul.pages li p.info a {
        color: #74acbe; }

body > article > section div.users ul {
  border-bottom: 1px solid #ddd;
  list-style: none;
  margin: 0px;
  margin-top: 1em;
  padding: 0px; }
  body > article > section div.users ul li {
    border-top: 1px solid #ddd;
    font-size: 14px;
    padding: 10px; }
    body > article > section div.users ul li .right {
      color: #bbb;
      font-size: 12px; }

#comments h3 {
  border-bottom: 2px solid #ddd;
  font-size: 18px;
  font-weight: normal;
  margin: 1em 0px;
  margin-bottom: 0.5em;
  padding-bottom: 4px; }
#comments ul {
  list-style: none;
  margin: 0px;
  padding: 0px; }
  #comments ul p {
    margin: 0px; }
#comments .no-comments {
  color: #555555; }
#comments ul.comments ul {
  padding-left: 5%; }
#comments ul.comments .comment {
  background-color: #fff;
  border-bottom: 2px solid #ddd;
  margin-bottom: 10px;
  padding: 10px; }
  #comments ul.comments .comment .header {
    font-size: 18px;
    margin-bottom: 2px; }
    #comments ul.comments .comment .header small {
      color: #bbb;
      font-size: 12px; }
  #comments ul.comments .comment p {
    font-size: 14px;
    margin: 0px; }

/*# sourceMappingURL=main.css.map */
